body {
    font-size: 16px;
}
h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


label{
    display: inline-block;
    float: left;
    clear: left;
    width: 500px;
    text-align: right;
}

#error-list {
    margin-top: 20px;
}

#list-items {
    color: rgb(233, 7, 7);
    text-align: center;
    list-style: none;
    margin-top: 5px;
}

input {
    height: 35px;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 5px;
}

#gender-select {
    margin-left: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 150px;
}

#submit-btn {

    justify-content: center;
    text-align: right;
    margin-left: 54rem;
}

#submit-btn {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
}

#submit-btn:hover {
    opacity: 0.8;
}



